body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.top-bar {
  color: white;
  padding: 10px;
  text-align: right;
  font-size: 24px;
  font-weight: bold;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #075f85;
}

.hidden {
  display: none;
}

.hidden_reset {
  display: none;
}

#accountInfo {
  margin-top: 60px;
  margin-left: 100px;
  padding: 20px;
}

.button-container {
  margin-top: 20px;
}

.button-container button {
  display: block;
  width: 40%;
  padding: 15px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 10px;
}

.button-container button#resetPasswordButton {
  background-color: #075f85;
  color: #fff;
}

#submit-button{
    width: 50%;
    padding: 10px;
    background-color: #075f85;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#submit-button:hover{
    background-color: #05435e;
}

.button-container button#logout {
    background-color: #333;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

textarea{
    width: 1000px;
    height: 300px;
    min-height: 20px;
    max-height: 300px;
    _height: 120px;
    margin-left: 30px;
    margin-right: auto;
    padding: 3px;
    outline: 0;
    border: 1px solid #a0b3d6;
    font-size: 12px;
    line-height: 24px;
    padding: 2px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

#assignmentFormContainer,#questionFormContainer,#questionsContainer{
    margin-top: 50px;
    margin-left: 30px;
}

#singleAssignment,#singleSubmission,#singleQuestion{
    margin-right: 30px;
    margin-left: 30px;
    border: 3px solid #a0b3d6;
    padding: 7px;
}

#submissionTitle,#content-before{
    margin-left: 30px;
}

